.users-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.table-row {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    background-color: var(--white);
    padding: 20px;
    border: 1px solid var(--bordeaux);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.content {
    background-color: gainsboro;
    border: solid black 1px;
    width: 25%
}

h2 {
	background-color: var(--white);
	padding: 20px;
	border: 1px solid var(--bordeaux);
	border-radius: 10px;
	margin-bottom: 20px;
}

.button{
    cursor: pointer;
}

.button:hover{
    background-color: brown;
}