@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-section {
    background-color: var(--white);
    padding: 20px;
    border: 1px solid var(--bordeaux);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.logo {
    height: 16rem;
}

h1, h2, .nav-item{
    font-family: 'UnifrakturCook', serif;
}

p, span, div {
    font-family: 'Lato', sans-serif;
}