.home-section {
    background-color: var(--white);
    padding: 20px;
    border: 1px solid var(--bordeaux);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.logo {
    height: 16rem;
}
